/*
    Source CSS: https://github.com/jasonm23/markdown-css-themes/blob/gh-pages/markdown7.css
*/
/*
body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 15px;
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
}
*/

body {
    margin: 0 auto;
    padding: 0px 30px 20px 30px;
    font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    color: #505050;
	width: 960;
}



    body > *:first-child {
        margin-top: 0 !important;
    }

    body > *:last-child {
        margin-bottom: 0 !important;
    }

a {
    color: #4183C4;
}

    a.absent {
        color: #cc0000;
    }

    a.anchor {
        display: block;
        padding-left: 30px;
        margin-left: -30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

p {
    margin-bottom: 9px;
    margin-top: 9px;
    font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    color: #505050;
}

	
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

    h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
        text-decoration: none;
    }

    h1 tt, h1 code {
        font-size: inherit;
    }

    h2 tt, h2 code {
        font-size: inherit;
    }

    h3 tt, h3 code {
        font-size: inherit;
    }

    h4 tt, h4 code {
        font-size: inherit;
    }

    h5 tt, h5 code {
        font-size: inherit;
    }

    h6 tt, h6 code {
        font-size: inherit;
    }

/*h1 {
    font-size: 28px;
    color: black;
}*/

h1, .wa-heading1 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_light, "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2em;
    color: #505050;
}

/*
h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
}
*/

h2, .wa-heading2 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_light, "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
    color: #505050;
}

/*
h3 {
    font-size: 18px;
}
*/
h3, .wa-heading3 {
    margin: 0 0 12px;
    position: relative;
    font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;
    color: #505050;
}

/*
h4 {
    font-size: 16px;
}
*/

h4, .wa-heading4 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    color: #505050;
}


/*
h5 {
    font-size: 14px;
}
*/

h5, .wa-heading5 {
    margin: 0 0 8px;
    font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    color: #505050;
}

.wa-note h5 {
    vertical-align: middle;
    margin: 0;
    display: inline-block;
}

/*
h6 {
    color: #777777;
    font-size: 14px;
}
*/

h6, .wa-heading6 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
    color: #505050;
}


p + h1, ul + h1, table + h1, p + h2, ul + h2, table + h2, p + h3, ul + h3, table + h3, p + h4, ul + h4, table + h4, p + h5, ul + h5, table + h5, p + h6, ul + h6, table + h6 {
    margin-top: 30px;
}


p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

hr {
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

    body > h1:first-child + h2 {
        margin-top: 0;
        padding-top: 0;
    }

body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

li {
    margin: 0;
}

ul, ol {
    padding-left: 30px;
}

    ul :first-child, ol :first-child {
        margin-top: 0;
    }

dl {
    padding: 0;
}

    dl dt {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        padding: 0;
        margin: 15px 0 5px;
    }

        dl dt:first-child {
            padding: 0;
        }

        dl dt > :first-child {
            margin-top: 0;
        }

        dl dt > :last-child {
            margin-bottom: 0;
        }

    dl dd {
        margin: 0 0 15px;
        padding: 0 15px;
    }

        dl dd > :first-child {
            margin-top: 0;
        }

        dl dd > :last-child {
            margin-bottom: 0;
        }

blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

    blockquote > :first-child {
        margin-top: 0;
    }

    blockquote > :last-child {
        margin-bottom: 0;
    }
/*
table {
    padding: 0;
    border-collapse: collapse;
}

    table tr {
        border-top: 1px solid #cccccc;
        background-color: white;
        margin: 0;
        padding: 0;
    }

        table tr:nth-child(2n) {
            background-color: #f8f8f8;
        }

        table tr th {
            font-weight: bold;
            border: 1px solid #cccccc;
            margin: 0;
            padding: 6px 13px;
        }

        table tr td {
            border: 1px solid #cccccc;
            margin: 0;
            padding: 6px 13px;
        }

            table tr th :first-child, table tr td :first-child {
                margin-top: 0;
            }

            table tr th :last-child, table tr td :last-child {
                margin-bottom: 0;
            }

*/


table {
    font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    color: #505050;
}

table {
    background-color: #ffffff;
    border-top: 2px solid #c9c9c9;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    text-align: left;
    width: 100%;
    font-size: 14px;
}


table thead, table tfoot {
    border-bottom: 2px solid #dedede;
}

table tr {
    border-bottom: 1px solid #dedede;
}

table tr:last-child {
    border-bottom: 2px solid #c9c9c9;
}
table thead tr:last-child, table tfoot tr:last-child {
    border-bottom: none;
}
table td {
    padding: 10px;
	border-bottom: 1px solid #dedede;
}
table tr td:first-child {
    text-align: left;
}

table thead tr, table tfoot tr {
    border-bottom: 1px solid #dedede;
    text-transform: uppercase;
}


table td.sub-heading, table thead th, table thead td {
    padding: 10px;
    min-width: 50px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2em;
    color: #505050;
    font-family: wf_segoe-ui_bold, "Segoe UI Bold", "Segoe WP Bold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 400;
}

table thead tr th:nth-child(1):nth-last-child(5), table tfoot tr th:nth-child(1):nth-last-child(5), table thead tr th:nth-child(2):nth-last-child(4), table tfoot tr th:nth-child(2):nth-last-child(4), table thead tr th:nth-child(3):nth-last-child(3), table tfoot tr th:nth-child(3):nth-last-child(3), table thead tr th:nth-child(4):nth-last-child(2), table tfoot tr th:nth-child(4):nth-last-child(2), table thead tr th:nth-child(5):nth-last-child(1), table tfoot tr th:nth-child(5):nth-last-child(1) {
    width: 20%;
}


ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

ul, ol {
    list-style-position: outside;
    margin-left: 0px;
    margin-bottom: 14px;
}

ol {
    padding-left: 27px;
}

ul li, ol li {
    margin-bottom: 10px;
}

ul {
    padding-left: 17px;
}


			
img {
    max-width: 100%;
}

span.frame {
    display: block;
    overflow: hidden;
}

    span.frame > span {
        border: 1px solid #dddddd;
        display: block;
        float: left;
        overflow: hidden;
        margin: 13px 0 0;
        padding: 7px;
        width: auto;
    }

    span.frame span img {
        display: block;
        float: left;
    }

    span.frame span span {
        clear: both;
        color: #333333;
        display: block;
        padding: 5px 0 0;
    }

span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

    span.align-center > span {
        display: block;
        overflow: hidden;
        margin: 13px auto 0;
        text-align: center;
    }

    span.align-center span img {
        margin: 0 auto;
        text-align: center;
    }

span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

    span.align-right > span {
        display: block;
        overflow: hidden;
        margin: 13px 0 0;
        text-align: right;
    }

    span.align-right span img {
        margin: 0;
        text-align: right;
    }

span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

    span.float-left span {
        margin: 13px 0 0;
    }

span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

    span.float-right > span {
        display: block;
        overflow: hidden;
        margin: 13px auto 0;
        text-align: right;
    }

code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}


.highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


    pre code, pre tt {
        background-color: transparent;
        border: none;
    }

pre {
    font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #464f59;
    border: 1px solid #969696;
    line-height: 1.3em;
    padding: 10px;
    overflow: auto;
}

pre, code {
    font-family: Consolas,"Courier New",monospace;
    font-weight: 400;
    background-color: #eee;
}



sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

* {
    -webkit-print-color-adjust: exact;
}

@media print {
    table, pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

.wa-icon {
    background-clip: border-box;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-image: url(/css/images/icons/icons-services.svg);
    background-position: 0 0;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    vertical-align: bottom;
    width: 32px;
}

strong {
    font-family: wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: 600;
}

a {
    color: #00abec;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}



/* =====================
notes.css
===================== */
/**
 * @name: Core.Definitions.Color.d.less
 * @description:
 *      Color definitions throughout the site.
 *      WARNING: If using a color not listed here, consult designers.
 */
/**
 * @name: Core/Definitions/Common.d.less
 */
/**
 * Text formats
 * Comments shows designer nomenclature and variants
 * If using a text format not part of this sheet, consult with designers first.
 */
/**
 * Numbers and adornment text formatting
 */
.wa-icon-important {
  background-image: url("css/images/icons/icons-health.svg");
  background-position: 0px 0px;
  background-size: 32px 160px;
}
.wa-icon-important.wa-icon-xxs {
  background-position: 0px 0px;
  background-size: 15px 75px;
}
.wa-icon-important.wa-icon-xs {
  background-position: 0px 0px;
  background-size: 20px 100px;
}
.wa-icon-important.wa-icon-s {
  background-position: 0px 0px;
  background-size: 60px 300px;
}
.wa-icon-important.wa-icon-m {
  background-position: 0px 0px;
  background-size: 150px 750px;
}
.wa-icon-important.wa-icon-l {
  background-position: 0px 0px;
  background-size: 200px 1000px;
}
.wa-icon-important.wa-icon-xl {
  background-position: 0px 0px;
  background-size: 300px 1500px;
}
.wa-icon-important.wa-icon-p {
  background-position: 0px 0px;
  background-size: 106px 530px;
}
.wa-icon-important.wa-icon-dark {
  background-image: url("css/images/icons/icons-health.svg");
}
.oldie .wa-icon-important.wa-icon-xxs,
.oldie .wa-icon-important.wa-icon-xs {
  background-position: 50% 0px;
}

.wa-icon-note {
  background-image: url("css/images/icons/icons-health.svg");
  background-position: 0px -32px;
  background-size: 32px 160px;
}

.wa-icon-information {
  background-image: url("css/images/icons/icons-health.svg");
  background-position: 0px -32px;
  background-size: 32px 160px;
}
.wa-icon-information.wa-icon-xxs {
  background-position: 0px -15px;
  background-size: 15px 75px;
}
.wa-icon-information.wa-icon-xs {
  background-position: 0px -20px;
  background-size: 20px 100px;
}
.wa-icon-information.wa-icon-s {
  background-position: 0px -60px;
  background-size: 60px 300px;
}
.wa-icon-information.wa-icon-m {
  background-position: 0px -150px;
  background-size: 150px 750px;
}
.wa-icon-information.wa-icon-l {
  background-position: 0px -200px;
  background-size: 200px 1000px;
}
.wa-icon-information.wa-icon-xl {
  background-position: 0px -300px;
  background-size: 300px 1500px;
}
.wa-icon-information.wa-icon-p {
  background-position: 0px -106px;
  background-size: 106px 530px;
}
.wa-icon-information.wa-icon-dark {
  background-image: url("css/images/icons/icons-health.svg");
}
.oldie .wa-icon-information.wa-icon-xxs,
.oldie .wa-icon-information.wa-icon-xs {
  background-position: 50% -32px;
}
.wa-icon-tip {
  background-image: url("css/images/icons/icons-health.svg");
  background-position: 0px -32px;
  background-size: 32px 160px;
}
.wa-icon-tip.wa-icon-xxs {
  background-position: 0px -15px;
  background-size: 15px 75px;
}
.wa-icon-tip.wa-icon-xs {
  background-position: 0px -20px;
  background-size: 20px 100px;
}
.wa-icon-tip.wa-icon-s {
  background-position: 0px -60px;
  background-size: 60px 300px;
}
.wa-icon-tip.wa-icon-m {
  background-position: 0px -150px;
  background-size: 150px 750px;
}
.wa-icon-tip.wa-icon-l {
  background-position: 0px -200px;
  background-size: 200px 1000px;
}
.wa-icon-tip.wa-icon-xl {
  background-position: 0px -300px;
  background-size: 300px 1500px;
}
.wa-icon-tip.wa-icon-p {
  background-position: 0px -106px;
  background-size: 106px 530px;
}
.wa-icon-tip.wa-icon-dark {
  background-image: url("css/images/icons/icons-health.svg");
}
.oldie .wa-icon-tip.wa-icon-xxs,
.oldie .wa-icon-tip.wa-icon-xs {
  background-position: 50% -32px;
}
.wa-icon-warning {
  background-image: url("css/images/icons/icons-health.svg");
  background-position: 0px -96px;
  background-size: 32px 160px;
}
.wa-icon-warning.wa-icon-xxs {
  background-position: 0px -45px;
  background-size: 15px 75px;
}
.wa-icon-warning.wa-icon-xs {
  background-position: 0px -60px;
  background-size: 20px 100px;
}
.wa-icon-warning.wa-icon-s {
  background-position: 0px -180px;
  background-size: 60px 300px;
}
.wa-icon-warning.wa-icon-m {
  background-position: 0px -450px;
  background-size: 150px 750px;
}
.wa-icon-warning.wa-icon-l {
  background-position: 0px -600px;
  background-size: 200px 1000px;
}
.wa-icon-warning.wa-icon-xl {
  background-position: 0px -900px;
  background-size: 300px 1500px;
}
.wa-icon-warning.wa-icon-p {
  background-position: 0px -318px;
  background-size: 106px 530px;
}
.wa-icon-warning.wa-icon-dark {
  background-image: url("css/images/icons/icons-health.svg");
}
.oldie .wa-icon-warning.wa-icon-xxs,
.oldie .wa-icon-warning.wa-icon-xs {
  background-position: 50% -96px;
}
/**
 * <div class="wa-note wa-note-*">
 *     <span class="wa-icon wa-icon-*"></span>
 *     <h5>NOTE:</h5>
 *     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies dui a augue <strong>ullamcorper</strong></p>
 * </div>
 */
.wa-note {
  background-color: #eeeeee;
  display: block;
  padding: 20px 30px;
  position: relative;
  border-left-width: 60px;
  border-left-style: solid;
  border-left-color: #89c402;
  margin-bottom: 30px;
}

.wa-note .wa-icon {
  position: absolute;
  left: -45px;
}
.wa-note h5 {
  vertical-align: middle;
  margin: 0;
  display: inline-block;
}
.wa-note.wa-note-warning {
  border-left-color: #fcd116;
}
.wa-note.wa-note-information {
  border-left-color: #0072c6;
}
.wa-note.wa-note-important {
  border-left-color: #ec008c;
}
.wa-note.wa-note-tip {
  border-left-color: #3e3d4d;
}


/** SELECTOR **/

.dev-center-tutorial-selector {
    position: relative;
    padding: 15px 0 0 0;
    overflow: hidden;
}

.sublanding.dev-center-tutorial-selector {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.dev-center-tutorial-selector a {
    display: inline-block;
    color: #fff;
    line-height: 22px;
    margin-right: 2px;
    padding: 0 10px;
    background-color: #969696;
    font-size: 12px;
    font-weight: 700;
}

.dev-center-tutorial-selector .current {
    background-color: #00bcf2;
    cursor: default;
}





/**
Our custom processing tags
**/

.wa-video {
  background-color: #222222;
  color: #ffffff;
  padding: 20px 30px;
  width: 360px;
  height: 203px;
  position: relative;
  margin-bottom: 30px;
  margin-left: 90px;
}

.wa-include-start {
  background-color: #eeeeee;
  color: #ec008c;
  padding: 5px 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wa-include-end {
  background-color: #eeeeee;
  color: #ec008c;
  padding: 5px 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wa-include-missing {
  background-color: red;
  color: #fcd116;
  padding: 10px 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}


